@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-body-color text-white;
}

a {
    display: inline-block;
}

button {
    @apply px-4 py-2 rounded bg-button-color text-primary hover:bg-button-color-dark ease-in-out duration-200;
}

ul,
li {
    list-style: none;
}

img {
    @apply object-cover w-full;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-header-color rounded-md;
}
